<div class="row">
	<h4>Available Data</h4>
	<% chartDocuments.forEach( function( chartDocument ){ %>
		<h6><%= chartDocument.name %></h6>
		<div class="btn-group">
			<button type="button" class="btn btn-info btn-xs chart" name="<%= chartDocument.name %>">Graph</button>
			<button type="button" class="btn btn-primary btn-xs render" name="<%= chartDocument.name %>" onclick="redraw()">Render</button>
			<a class="btn btn-danger btn-xs" role="button" name="<%= chartDocument.name %>" href="/remove/<%= chartDocument._id %>">Delete</a>
		<!--	<button type="button" class="btn btn-danger btn-xs" onclick="drawSomeText('working_tilt_V3')">Click</button> -->
		</div>
	<% }); %>
</div>

<div class="row">
	<h4>Tweak Data</h4>
	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group">
			<button type="button" class="btn btn-default x">Hide - X</button>
			<button type="button" class="btn btn-default y">Hide - Y</button>
			<button type="button" class="btn btn-default z">Hide - Z</button>
		</div>
	</div>
</div>
