<div class="row">
	<h4>Available Data</h4>
	<ul class="list-group">
	<% chartDocuments.forEach( function( chartDocument ){ %>
		 <li class="list-group-item"><%= chartDocument.name %>
			<button type="button" class="btn btn-info btn-xs chart" name="<%= chartDocument.name %>">Graph</button>
			<button type="button" class="btn btn-primary btn-xs render" name="<%= chartDocument.name %>">Render</button>
			<button type="button" onclick="drawSomeText('working_tilt_V3')">click</button>
			<a type="button" class="btn btn-danger btn-xs" name="<%= chartDocument.name %>" href="/remove/<%= chartDocument._id %>">Delete</a>
		 </li>
	<% }); %>
	</ul>
</div>

<div class="row">
	<h4>Tweak Data</h4>
	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group">
			<button type="button" class="btn btn-default x">Hide - X</button>
			<button type="button" class="btn btn-default y">Hide - Y</button>
			<button type="button" class="btn btn-default z">Hide - Z</button>
		</div>
	</div>
</div>
